:host {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 0 37px;
}

.top {
    padding-top: 37px;
}

.bottom {
    padding-bottom: var(--navbar-height);
}
